@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import "tailwindcss";
@theme {
  --color-darkText: #2c2c2c;
  --color-lightText: #f9f5f1;
  --color-clay: #c46c44;
  --color-clay-muted: #e3b5a4;
  --color-sage: #a0b38c;
  --color-sage-muted: #cad5c3;
  --color-beige: #f4f1ec;
  --color-beige-muted: #f7f5f2;
  --color-wheat: #e2a98e;
  --color-wheat-muted: #f2dad0;
  --color-stone: #d7d3cb;
  --color-stone-muted: #ebe8e2;
}
